body {
    /* background-color: #9af219; */
}

h1 {
    color: transparent;
    text-shadow: 0 0 1.5px rgba(0,0,0,0.9);
}

.pg-1 {
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pg-2 {
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
}

p {
    display: block;
}